<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--set params for DB connection-->
    <!--<context:property-placeholder location="classpath:app.properties"/>-->

    <!--<bean id="dbConnection" class="com.shevtsov.dao.impl.DBConnectionWorkDB">-->
        <!--<constructor-arg name="url" value="${url}"/>-->
        <!--<constructor-arg name="login" value="${login}"/>-->
        <!--<constructor-arg name="password" value="${password}"/>-->
    <!--</bean>-->
    <!--<bean id="draft" class="com.shevtsov.domain.Order" autowire="constructor"/>-->
    <!--<bean id="clientDao" class="com.shevtsov.dao.impl.ClientDBDao" autowire="constructor"/>-->
    <!--<bean id="productDao" class="com.shevtsov.dao.impl.ProductDBDao" autowire="constructor"/>-->
    <!--<bean id="orderDao" class="com.shevtsov.dao.impl.OrderDBDao" autowire="constructor"/>-->
    <!--<bean id="validationService" class="com.shevtsov.validators.impl.ValidationServiceImpl" autowire="constructor"/>-->
    <!--<bean id="authorisation" class="com.shevtsov.services.impl.AuthorisationImpl" autowire="constructor"/>-->
    <!--<bean id="clientService" class="com.shevtsov.services.impl.ClientServiceImpl" autowire="constructor"/>-->
    <!--<bean id="productService" class="com.shevtsov.services.impl.ProductServiceImpl" autowire="constructor"/>-->
    <!--<bean id="orderServiceImpl" class="com.shevtsov.services.impl.OrderServiceImpl" autowire="constructor"/>-->
    <!--<bean id="menuWorkWithClients" class="com.shevtsov.view.MenuWorkWithClients" autowire="constructor"/>-->
    <!--<bean id="menuWorkWithProducts" class="com.shevtsov.view.MenuWorkWithProducts" autowire="constructor"/>-->
    <!--<bean id="ьenuWorkWithOrders" class="com.shevtsov.view.MenuWorkWithOrders" autowire="constructor"/>-->
    <!--<bean id="уditOrderMenu" class="com.shevtsov.view.EditOrderMenu" autowire="constructor"/>-->
    <!--<bean id="clientMenu" class="com.shevtsov.view.ClientMenu" autowire="constructor"/>-->
    <!--<bean id="adminMenu" class="com.shevtsov.view.AdminMenu" autowire="constructor"/>-->
    <!--<bean id="mainMenu" class="com.shevtsov.view.MainMenu" autowire="constructor"/>-->
</beans>
